# Sample rssget configuration file
#
# $Id$
# ---------------------------------------------------------------------------

#############################################################################
# rssget section: Configuration items that apply globally. Note that the
#                   various sites are specified in their own sections, to
#                   permit site-specific configuration.
#############################################################################

[rssget]

# ---------------------------------------------------------------------------
# CacheFile: The full path to the file in which rssget should cache URLs.
#            rssget uses the cache file to keep track of which URLs it
#            has already received and displayed, and when it received them.
#            Under normal operation, rssget won't display a URL it has
#            already displayed and cached.
#
#            This path may contain the ~ metacharacter, to denote the
#	     invoking user's home directory.
#
#            The use of a cache can be disabled by omitting this parameter.
#	     Use the "NoCacheUpdate" parameter to tell rssget to read,
#	     but not update, the cache.
#
# See also: Configuration parameter "NoCacheUpdate" 
#           Command line parameter --nocache
# 
# OPTIONAL. Default: None

CacheFile: test.cache

# ---------------------------------------------------------------------------
# NoCacheUpdate: If set to "true" (and if a cache file is specified),
#                this parameter tells rssget to read the cache file and
#                honor its contents, but not to update it on disk.
#
# See also: Configuration parameter "CacheFile"
#           Command line parameter --noupdate
#
# OPTIONAL. Default: false

NoCacheUpdate: false

# ---------------------------------------------------------------------------
# DefaultDaysToCache: Default maximum number of days to cache an already-read
#                     URL. This parameter is only used when the configuration
#                     section for a particular site lacks a "DaysToCache"
#                     value. URLs older than this many days are tossed from
#                     the cache when it's read, which means rssget
#                     forgets that it saw them before. A value of 0 renders
#                     the cache useless (i.e., ensures that rssget always
#                     forgets URLs that are cached)
#
# OPTIONAL. Default: 5

DefaultDaysToCache: 5

# ---------------------------------------------------------------------------
# Quiet: Normally, if a site's RSS feed contains no new URLs, rssget
#        displays the site's name and URL, followed by "No new items".
#        Similarly, if rssget can't contact a site, or if a site's XML is
#        unparseable, rssget displays an error message. Setting the
#        "Quiet" configuration option to "true" (or "yes") tells rssget
#        to suppress both of the above displays.
#
# See also: Command line options --quiet, -q, --noquiet
#
# OPTIONAL. Default: false

Quiet: false

# ---------------------------------------------------------------------------
# SummaryOnly: Some RSS feeds provide a description for each item, in addition
#              to the (brief) title. Setting "SummaryOnly" to "true" (or 
#              "yes") suppresses display of the description.
#
# See also: Command line options --summary, -s, --full, -f
#
# OPTIONAL. Default: false        

SummaryOnly: true

# ---------------------------------------------------------------------------
# Verbosity: Set to a positive integer value to enable verbose (debug)
#            messages. A value of 0 disables verbose messages.
#
# See also: Command line options --verbose, -v
#
# OPTIONAL. Default: 0

Verbosity: 0

# ---------------------------------------------------------------------------
# ParserClass: The full name of the underlying parser class to be used.
#              This class must implement the org.clapper.rssget.RSSParser
#              interface. It can be a first-class parser of its own, or
#              it can be nothing more than an interface to a third party
#              RSS parser class.
#
# OPTIONAL. Default: org.clapper.rssget.informa.RSSParserImpl

#ParserClass: org.clapper.rssget.informa.RSSParserImpl

# ---------------------------------------------------------------------------
# SMTPHost: The SMTP host to use to mail the output. This option is only
#           honored if email addresses are specified on rssget's command
#           line.
#
# OPTIONAL. Default: localhost
#
# NOT YET SUPPORTED.

SMTPHost: localhost

# ---------------------------------------------------------------------------
# DefaultMailFrom: The email address to use as the sender, if rssget can't 
#                  figure that out on its own. The address can be a full
#                  RFC 2822-compliant address (e.g.,
#                  "Joe Blow <joe@example.org>").
#
#                  This option is only honored if email addresses are
#                  specified on rssget's command line.
#
# OPTIONAL. Default: None
#
# NOT YET SUPPORTED.

DefaultMailFrom: Brian Clapper <bmc@clapper.org>

# ---------------------------------------------------------------------------
# Subject: The email subject to use for emailed rssget output. This option is
#          only honored if email addresses are specified on rssget's command
#          line.
#
# OPTIONAL. Default: "rssget output"
#
# NOT YET SUPPORTED.

Subject: rssget output

#############################################################################
# Section for an RSS site. The section name must be the site's URL.
#############################################################################

[http://slashdot.org/slashdot.rdf]

# ---------------------------------------------------------------------------
# DaysToCache:  Maximum number of days to cache an already-read URL for this
#               site. URLs older than this are tossed from the cache when
#               it's read, which means rssget forgets that it saw them
#               before. A value of 0 renders the cache useless (i.e.,
#               ensures that rssget always forgets URLs that are cached)
#
# OPTIONAL. Default: 5

DaysToCache: 0

# ---------------------------------------------------------------------------
# PruneURLs: If set to "true", then all item URLs from this site are
#            displayed without HTTP parameters. If set to "false", then URLs
#            are displayed exactly as they appear in the RSS feed.
#
# OPTIONAL. Default: false

PruneURLs: false

#############################################################################
# Section for an RSS site. The section name must be the site's URL.
#############################################################################

[file:///usr/local/src/my-stuff/working/python/rssget/politics.xml]

# ---------------------------------------------------------------------------
# DaysToCache:  Maximum number of days to cache an already-read URL for this
#               site. URLs older than this are tossed from the cache when
#               it's read, which means rssget forgets that it saw them
#               before. A value of 0 renders the cache useless (i.e.,
#               ensures that rssget always forgets URLs that are cached)
#
# OPTIONAL. Default: 5

DaysToCache: 1

